<style>
    .team-member img {
      height: 450px;
      object-fit: cover;
    }
</style>

<div class="container-fluid p-0 d-flex">
  <div class="container team-section mt-5">
    <h2 class="text-center mb-5">Ngũ Lão Tinh</h2>
    <div class="row justify-content-center g-4">
      <div class="col-md-4 col-sm-6 d-flex">
        <div class="team-member bg-white shadow rounded h-100 d-flex flex-column w-100">
          <img src="https://img4.thuthuatphanmem.vn/uploads/2020/12/26/hinh-anh-con-trau-hai-huoc_034005666.jpg" class="w-100 rounded-top" alt="Thành viên 3">
          <div class="p-3 text-center mt-auto">
            <h5>Ngô Phương Đông</h5>
            <p class="text-muted">Backend Developer</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 d-flex">
        <div class="team-member bg-white shadow rounded h-100 d-flex flex-column w-100">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREScTy843huRYCggoI34pD_gcQ7EK8uGd9ww&s" class="w-100 rounded-top" alt="Thành viên 4">
          <div class="p-3 text-center mt-auto">
            <h5>Phạm Hoàng Giang</h5>
            <p class="text-muted">Frontend Developer</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 d-flex">
        <div class="team-member bg-white shadow rounded h-100 d-flex flex-column w-100">
          <img src="https://th.bing.com/th/id/OIP.MqVwVEaoBZNq6S709CGdxwHaHa?rs=1&pid=ImgDetMain" class="w-100 rounded-top" alt="Thành viên 5">
          <div class="p-3 text-center mt-auto">
            <h5>Đỗ Nhật Duy</h5>
            <p class="text-muted">Frontend Developer</p>
          </div>
        </div>
      </div>

<div class="col-md-4 col-sm-6 d-flex">
        <div class="team-member bg-white shadow rounded h-100 d-flex flex-column w-100">
          <img src="https://genk.mediacdn.vn/2018/8/30/1-15356157253371457513965.jpg" class="w-100 rounded-top" alt="Thành viên 1">
          <div class="p-3 text-center mt-auto">
            <h5>Trần Minh Đạt</h5>
            <p class="text-muted">Frontend Developer</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 d-flex">
        <div class="team-member bg-white shadow rounded h-100 d-flex flex-column w-100">
          <img src="https://th.bing.com/th/id/R.b8e9ee2d5ba8af659054cc9bf97c98d2?rik=6pF7%2bwGkt%2fYpHg&pid=ImgRaw&r=0" class="w-100 rounded-top" alt="Thành viên 2">
          <div class="p-3 text-center mt-auto">
            <h5>Vũ Thế Tuấn Đạt</h5>
            <p class="text-muted">Backend Developer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
