<div class="container-fluid p-0 d-flex">
    {{> sidebar}}

    <div class="container-fluid text-center" id="main-content" style="margin-left: 240px;width= calc(100vw-280px);height= calc(100vh-70px);">
        <h3 class="mt-5">Đây là trang chủ</h3>    
    </div>
</div>
