<style>
</style>

<div class="container-user container-fluid d-flex flex-column mt-5 justify-content-center align-items-center px-5" style="width: 100%; height: 100%">
  <h3 class="mb-5 text-center w-100">
    Thông tin tài khoản
  </h3>    
  
  <form id="admin-form" action="/submit-data-user" method="POST" class="w-100" style="max-width: 600px;">
    <div class="mb-3 row">
        <label for="hoten" class="col-sm-3 col-form-label">Họ và tên</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="hoten" name="hoten" placeholder="Data họ tên" readonly>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="phone" class="col-sm-3 col-form-label">Điện thoại</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="phone" name="phone" placeholder="Data số điện thoại" readonly>
        </div>        
    </div>
    <div class="mb-3 row">
        <label for="email" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="email" name="email" placeholder="Data email" readonly>
        </div>        
    </div>
    <div class="mb-3 row">
        <label for="address" class="col-sm-3 col-form-label">Địa chỉ</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="address" name="address" placeholder="Data địa chỉ" readonly>
        </div>        
    </div>
  </form>
</div>