<style>
    .container-user {
        position: relative;
    }

    .submit-user {
        position: absolute;
        width: 40%;
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 20px;
    }
</style>

<div class="container-fluid d-flex mt-5 px-5 container-user">
    <div class="col">
        <h3 class="text-start mb-5">Thông tin tài khoản user</h3>
        <form id="thong_tin_user_form" action="/submit-data-user" method="POST">
            <div class="row d-flex flex-nowrap" style="margin-bottom: 35px">
                <label class="d-flex align-items-center" style="width: 100px; height: 45px">Họ và tên</label>
                <input type="text" name="hoten" placeholder="Nhập họ tên" required
                        class="border border-2 rounded-3 d-flex" style="height: 45px; align-items: center; width: calc(100% - 100px - 100px);">
                </input>
            </div>
            <div class="row d-flex flex-nowrap" style="margin-bottom: 35px">
                <label class="d-flex align-items-center" style="width: 100px; height: 45px">Điện thoại</label>
                <input type="text" name="sdt" placeholder="Nhập số điện thoại" required
                        class="border border-2 rounded-3 d-flex" style="height: 45px; align-items: center; width: calc(100% - 100px - 100px);">
            </div>
            <div class="row d-flex flex-nowrap" style="margin-bottom: 35px">
                <label class="d-flex align-items-center" style="width: 100px; height: 45px">Email</label>
                <input type="email" name="email" placeholder="Nhập email" required
                        class="border border-2 rounded-3 d-flex" style="height: 45px; align-items: center; width: calc(100% - 100px - 100px);">
            </div>
            <div class="row d-flex flex-nowrap" style="margin-bottom: 35px">
                <label class="d-flex align-items-center" style="width: 100px; height: 45px">Địa chỉ</label>
                <input type="text" name="diachi" placeholder="Nhập địa chỉ" required
                        class="border border-2 rounded-3 d-flex" style="height: 45px; align-items: center; width: calc(100% - 100px - 100px);">
            </div>
        </form>
    </div>
    <div class="col">
        <h3 class="text-start mb-5">Thông tin đại lý</h3>
        <div class="row d-flex flex-nowrap" style="margin-bottom: 35px">
            <label class="d-flex align-items-center" style="width: 100px; height: 45px">Quận</label>
            <div class="border border-2 rounded-3 d-flex" style="height: 45px; align-items: center; width: calc(100% - 100px - 100px);">
                VALUE
            </div>
        </div>
        <div class="row d-flex flex-nowrap" style="margin-bottom: 35px">
            <label class="d-flex align-items-center" style="width: 100px; height: 45px">Mã đại lý</label>
            <div class="border border-2 rounded-3 d-flex" style="height: 45px; align-items: center; width: calc(100% - 100px - 100px);">
                VALUE
            </div>
        </div>
        <div class="row d-flex flex-nowrap" style="margin-bottom: 35px">
            <label class="d-flex align-items-center" style="width: 100px; height: 45px">Loại đại lý</label>
            <div class="border border-2 rounded-3 d-flex" style="height: 45px; align-items: center; width: calc(100% - 100px - 100px);">
                VALUE
            </div>
        </div>
    </div>
    <div class="submit-user">
        <button type="submit" class="btn btn-primary border-0 rounded-5 fw-semibold" 
                style="width: 50%; background-color: #C6BDBD; color: #000000;"
                form="thong_tin_user_form">
            Cập nhật
        </button>
    </div>
</div>